@{
    ViewBag.Title = "О проекте";
}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/Site.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<h2>@ViewBag.Title.</h2>

<div class="content">
		<div class="bulletsBlock">
			<div class="bullet-item">
				<span class="iconBullet fa fa-cog"></span>
				<p class="titleBullet">О проекте</p>
				<p class="hideText">Узнать больше<br>скрытый текст 1</p>
			</div>

			<div class="bullet-item">
				<span class="iconBullet fa fa-lightbulb-o"></span>
				<p class="titleBullet">Как это работает?</p>
				<p class="hideText">Узнать больше<br>скрытый текст 2</p>
			</div>

			<div class="bullet-item">
				<span class="iconBullet fa fa-eyedropper"></span>
				<p class="titleBullet">Выгода 3</p>
				<p class="hideText">Дополнительный<br>скрытый текст 3</p>
			</div>
		</div>
	</div>
<div class="row">
  <h3>Что за он этот DevBoard?</h3>
    <div>
        DevBoard Сокращенно от Developer Board - площадка по удовлетворению потребностей заказчиков. Проще говоря, платформа, предоставляющая работу людям со свободным графиком - фрилансерам.
    </div>
	<h4>Как это работает</h4>
	<div>
        Всё довольно просто. Человек, нуждающийся в выполнении его желаний, переходит во вкладку "Заказы", далее составляет требования, при желании прикрепляет скриншоты. Заказ одобряется вами, деньги перечисляются на облако, которое, фактически никому не принадлежит. Далее заказ рассматривается "высшей силой". Исполнитель приступает к действию, далее заказчик ознакамливается с заказом. Если его устраивает - происходит честный обмен - товар на деньги.
    </div>
</div>
