@{
    ViewBag.Title = "О проекте";
}
@Styles.Render("~/Content/style")
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<h1 align="center">Developer Board - регистрируйся, выполняй/заказывай</h1>


<div class="content">
    <div class="bulletsBlock">
        <div class="bullet-item">
            <span class="iconBullet fa fa-cog"></span>
            <p class="titleBullet">О проекте</p>
            <a class="hideText" href="@Url.Action("WebDescription", "Manage")">Узнать больше</a>
        </div>

        <div class="bullet-item">
            <span class="iconBullet fa fa-lightbulb-o"></span>
            <p class="titleBullet">Как это работает?</p>
            <a class="hideText" href="@Url.Action("WebDescription", "Manage")">Узнать больше</a>
        </div>

        <div class="bullet-item">
            <span class="iconBullet fa fa-eyedropper"></span>
            <p class="titleBullet">Главная</p>
            <a class="hideText" href="@Url.Action("WebDescription", "Manage")">Узнать больше</a>
        </div>
    </div>
</div>

<h1 align="left"> Что за он, этот DevBoard? </h1>

<div align="left">  <p class="lead">  DevBoard Сокращенно от Developer Board - платформа, предоставляющая работу людям со свободным графиком - фрилансерам.</p> </div>


<h1 align="left">Как это работает?</h1>
<div align="left"> <p class="lead">  Всё довольно просто. Если пользователь является заказчиком то во вкладке "Заказы" он может создать свой заказ, путём создания специальной темы в разделе "Заказы" и залив туда свои требования в ввиде готового технического задания. Если же пользователь - исполнитель, то во вкладке "Заказы" он находит себе проект, которым в дальнейшем будет заниматься. Заказ одобряется обеими сторонами, деньги перечисляются на облако, которое, фактически никому не принадлежит. Далее исполнитель приступает к выполнению заказа, а заказчик ожидает и контролирует действия исполнителя. Если его устраивает - происходит честный обмен - товар на деньги. Если же исполнитель не успел в ранее обозначенные сроки, или же заказчику попросту не понравился его заказ, то специальные люди ведут некоторое расследование, в следствии чего выясняется, кто прав, кто виноват, и виновный получает снижение балла, а так же, в случае, если это исполнитель, то он не получает вознаграждение. </p> </div>







