@{
    ViewBag.Title = "About the project";
}
@Styles.Render("~/Content/style")
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<h1 align="center">Developer Board - register, execute / order</h1>


<div class="content">
    <div class="bulletsBlock">
        <div class="bullet-item">
            <span class="iconBullet fa fa-cog"></span>
            <p class="titleBullet">About the project</p>
            <a class="hideText" href="@Url.Action("WebDescription", "Manage")">To learn more</a>
        </div>

        <div class="bullet-item">
            <span class="iconBullet fa fa-lightbulb-o"></span>
            <p class="titleBullet">How it works?</p>
            <a class="hideText" href="@Url.Action("WebDescription", "Manage")">To learn more</a>
        </div>

        <div class="bullet-item">
            <span class="iconBullet fa fa-eyedropper"></span>
            <p class="titleBullet">Home</p>
            <a class="hideText" href="@Url.Action("WebDescription", "Manage")">To learn more</a>
        </div>
    </div>
</div>

<h1 align="left">What is this, this DevBoard?</h1>

<div align="left">  <p class="lead">  DevBoard abbreviated from the Developer Board - a platform that provides jobs for people with free graphics - freelancers.</p> </div>


<h1 align="left">How it works?</h1>
<div align="left"> <p class="lead">  It's pretty simple. If the user is a customer, then in the "Orders" tab he can create his order, by creating a special topic in the "Orders" section and filling his requirements there in the form of a completed technical assignment. If the user is a performer, then in the "Orders" tab, he finds a project for himself, which will be dealt with in the future. The order is approved by both parties, money is transferred to the cloud, which, in fact, does not belong to anyone. Further, the performer proceeds to execute the order, and the customer expects and controls the actions of the performer. If it suits - there is an honest exchange - the goods for money. If the performer does not have time to do it earlier, or the customer simply does not like his order, then special people conduct some investigation, which is why it turns out who is right, who is to blame, and the guilty person receives a reduction in the score, and, in the case, if it is a performer, then he does not receive a reward. </p> </div>







