@{
    ViewBag.Title = "О проекте";
}
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/Site.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<h1 align = "center">Developer Board - регистрируйся, выполняй/заказывай</h1>

<div class="content">
		<div class="bulletsBlock">
			<div class="bullet-item">
				<span class="iconBullet fa fa-cog"></span>
				<p class="titleBullet">О проекте</p>
				<p class="hideText">Узнать больше</p>
			</div>

			<div class="bullet-item">
				<span class="iconBullet fa fa-lightbulb-o"></span>
				<p class="titleBullet">Как это работает?</p>
				<p class="hideText">Узнать больше</p>
			</div>

			<div class="bullet-item">
				<span class="iconBullet fa fa-eyedropper"></span>
				<p class="titleBullet">Главная</p>
				<p class="hideText">Перейти</p>
			</div>
		</div>
	</div>
	
  <h1 align = "left">Что за он этот DevBoard?</h1>
    
	<div align = "left">  <p class="lead">  DevBoard Сокращенно от Developer Board - площадка по удовлетворению потребностей заказчиков. Проще говоря, платформа, предоставляющая работу людям со свободным графиком - фрилансерам.</p> </div>
	
     
	<h1 align = "left">Как это работает?</h1>
	<div align = "left"> <p class="lead">  Всё довольно просто. Человек, нуждающийся в выполнении его желаний, переходит во вкладку "Заказы", далее составляет требования, при желании прикрепляет скриншоты. Заказ одобряется вами, деньги перечисляются на облако, которое, фактически никому не принадлежит. Далее заказ рассматривается "высшей силой". Исполнитель приступает к действию, далее заказчик ознакамливается с заказом. Если его устраивает - происходит честный обмен - товар на деньги.</p> </div>
	 
       
    

