@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    
    
    
</head>
@Styles.Render("~/Content/StyleSheet1")
<body>
    @if (User.Identity.GetUserName() != "")
    {
        <h2>Чат-комната</h2>

        <div class="main">
            <div id="loginBlock">
                Введите логин:<br />

                <input id="txtUserName" class="form-control" value="@User.Identity.GetUserName()" />
                <input id="btnLogin" class="btn btn-block" type="button" value="Войти" />
            </div>
            <div id="chatBody">
                <div id="header"></div>
                <div id="inputForm">
                    <input type="text" class="form-control" id="message" />
                    <input type="button" class="btn btn-block" id="sendmessage" value="Отправить" />
                </div>
                <div id="chatroom"></div>
                
                
                  
                <div id="chatusers">
                    <p><b>Все пользователи</b></p>
                </div>
            </div>
            <input id="hdId" type="hidden" />
            <input id="username" type="hidden" />
        </div>



        <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
        <script src="~/signalr/hubs"></script>
        <script src="~/Scripts/util.js"></script>
    }
    else
    {
        @Html.Action("Login", "Account")
    }
</body>
</html>





