@model WebApplication1.AspNetUsers

@{
    /**/

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Scripts.Render("~/scripts/DevJs.js")*@
<div class="jumbotron jumbotron_developers">
    <h1 class="text-center">Developer Board</h1>
    <h2 class="text-center">List of developers</h2>
</div>


<input type="text" name="name" id="search" />
<input type='button' id="submit" value='Поиск' />

   
<div id="results"></div>
@Scripts.Render("~/Scripts/DevAjax.js")
@if (ViewBag.Bool)
{
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" id="btn1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" id="btn2">Next</a>
        </li>
    </ul>
}

