@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron jumbotron_developers">
    <h1 class="text-center">ASP.NET</h1>
    <p class="lead" >ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
        </thead>
        @foreach(AspNetUsers ss in ViewBag.UserListOnPrint)
        { 
        <tbody>
        <tr>
            <td>@ss.UserName</td>
            <td>@ss.Email</td>
            <td>@ss.PhoneNumber</td>
        </tr>
        </tbody>
        }
        
    </table>
</div>


