@using WebApplication1;
@using WebApplication1.Controllers;
@using System.Drawing;
@using Microsoft.AspNet.Identity;
@*@model WebApplication1.Models.IndexViewModel*@
@using WebApplication1.help_cs;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    //AspNetUsers

}
<div id="results"></div>
@Scripts.Render("~/Scripts/OrderAjax.js")
@if(ViewBag.Bool){
<ul class="pagination">
    <li class="page-item">
        <a class="page-link" id="btn1">Previous</a>
    </li>
    <li class="page-item">
        <a class="page-link" id="btn2">Next</a>        
    </li>
</ul>
}
