@model IEnumerable<AspNetUsers>
<div class="container">
    <table class="table table-hover EnText">
        <thead>
            <tr>
                <th class="col-xs-3">Name</th>
                <th class="col-xs-9">Description</th>

            </tr>
        </thead>
        @foreach (AspNetUsers ss in Model)
        {
            <tbody>
                <tr onclick="window.location='@Url.Action("UserInfo", "Manage", new { UserId = @ss.Id })#';">
                    <td class="col-xs-3">@ss.UserName</td>
                    <td class="EnText col-xs-9">@ss.Description</td>

                </tr>
            </tbody>
        }

    </table>
</div>
