$border-radius: .25em;

body {
    color: #333;
}

label {
    font-weight: bold;
}

canvas {
    display: block;
}

.card {
    display: flex;
    height: 6em;
    width: 50vmin;
    padding: 2em;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: $border-radius;
}

.card--overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button-reset {
    border: 1px solid #fff;
    border-radius: $border-radius;
    background-color: transparent;
    color: #fff;
    position: absolute;
    right: 1em;
    top: 1em;
    padding: 0.75em 1em;
    font-weight: bold;
    text-decoration: none;
}

.is-hidden {
    display: none;
}
